body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("../img/backdrop.jpg");
}

#page-wrap {
  margin: 40px auto 60px;
  background-color: rgba(255, 255, 255, 0.8);
}


.header h1 {
  text-align: center;
  padding-top: 10px;


}

.header h2 {
  margin: 10px;
}
.header p {
  margin: 10px;
}

.main {
  width: 70%;
  float: left;

}

.main h2 {
  margin: 10px;
}

#content-wrap {
  display: table;
  width: 100%;
}

/* News Columns */

.column {
  float: left;
  margin: 10px;
  /*border: 1px solid black;*/
}

.column img {
  max-width: 100%;
}

.column h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.column p{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

/* Tour Dates Sidebar */

.sidebar {
  /*border: 1px solid black;*/
  width: 20%;
  background-color: grey;
  float: right;
  margin: 10px;
  /*display: table-cell;*/
}

.sidebar h2 {
  text-align:center;
}

.sidebar li {
  margin-bottom: 30px;
}

.date {
  font-weight: bold;
  font-size: 1.2em;
}

/* Media Queries */

@media screen and (min-width:840px){
  #page-wrap {
    width: 800px;
  }
}

@media screen and (max-width:840px){
  .main {
    display: table;
    width: 100%;
    float: none;
  }
  .sidebar {
    width: 100%;
    float: none;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
  }
}

@media screen and (min-width:430px){
  .column {
    width: 45%;
  }
}

@media print {
  #page-wrap {
    margin: 0;
  }
  .main {
    display: table;
    width: 100%;
    float: none;
  }
  .sidebar{
    width: 100%;
    float: none;
    background-color: white;
  }
  .column img{
    max-width: 200px;
    max-height: 200px;
    float: left;
    margin-right: 5px;
  }
}
