
#page-wrap {
  width: 800px;
  margin: 40px auto 60px;
}

/* News Columns */

.column {
  width: 30%;
  float: left;
  margin: 10px 10px 20px 10px;
}

.column img {
  max-width: 100%;
}

.sidebar {
  width: 20%;
  background-color: grey;
  float: left;
  margin: 10px 10px 20px 10px;
}

.sidebar h2 {
  text-align:center;
}

.sidebar li {
  margin-bottom: 30px;
}

.date {
  font-weight: bold;
  font-size: 1.2em;
}
